html, body {
	background-color: #1f1d1d;
	color: #afafaf;
	margin: 0;
	padding: 0;
}

.page {
	/*color: black;*/
	/*background-color: white;*/
	text-align: justify;
	font-size: 18px;
	line-height: 150%;

	width: auto;
	max-width: 826.7px;
	margin: auto;
	margin-bottom: 5px;
}

.page:first-of-type {
	margin-top: 5em;
}

.page .margins {
	margin: 5em;
}

.page .margins p {
	/*background-color: yellow;*/

	font-family: Times New Roman;

	padding: 1px;
	text-indent: 2em;
}

.page .margins p:first-of-type {
	text-indent: 0;
}

[contenteditable] {
	outline: 0px solid transparent;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb {
	background-color: #2f2f2f;
}



